
@font-face {
  font-family: "Copperplate Medium";
  src: url("./assets/Sans-Copperplate\ Gothic\ Regular.ttf");
}

body {
  margin: 0;
  padding-top: .5%;
  padding-left: 1%;
  padding-right: .5%;
  height: 100%;
  width: auto;
  font-family: "Copperplate Medium", "Copperplate", sans-serif;
}

.home-image {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px
}

header {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

h1 {
  font-size: 4em;
}

#me-auto {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

img {
  border-radius: 25px;
  margin-top: 25px;
}

.Container {
  color: black;
  text-decoration: none; /* no underline */
}
